.relative {
  position: relative;
}

.watchVideoRecommendations {
  display: grid;
  gap: 8px;
}

.VideoRecommendationsTopBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.aiAllHidden {
  color: var(--tertiary-text-color);
  margin: 0;
}
